
.start{
	background-image: url("watercolor.jpg");
	background-size: 100% 100%;
}

.back{
	background-image: url("pastel.jpg");
	background-size: cover;
}

@font-face { 
	font-family: ItalianBreakfast-Regular; src: url('ItalianBreakfast-Regular.otf');
}
.heading{
	font-family: ItalianBreakfast-Regular;
	font-size: 100px;
	position:absolute;
	margin:0;
	position: relative;
}

.small{
	font-family: ItalianBreakfast-Regular;
	font-size: 40px;
	position:absolute;
	margin:0;
	position: relative;
	padding-left: 80px;
	color: #F0F8FF;
}

a{
	text-decoration: none;
}

h2{
	font-size: 20px;
	padding-left: 30px;
}

.tab{
	padding-left: 80px;
}

h3:hover{
	background-color:#fae3cd;
}
 
.button{
	border-radius:18px;
	position:relative;
	color:black;
	font-size:30px;
	background-color:#F0F8FF;
	display:inline-block;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:30px;
	padding-left:25px;
}
.buttonPosition1{
	left:70%;
	top:35%;
}

.buttonPosition2{
	left:55%;
	top:35%;
}