.start{
	background-image: url("helping.jpg");
	background-size: cover;
}
@font-face { 
	font-family: ItalianBreakfast-Regular; src: url('ItalianBreakfast-Regular.otf');
}
.heading{
	font-family: ItalianBreakfast-Regular;
	font-size: 300px;
	position:absolute;
	margin:0;
	left:40%;
	top:2%;
}

a{
	text-decoration: none;
}

h3:hover{
	background-color:#fae3cd;
}

.button{
	border-radius:35px;
	position:absolute;
	font-family: ItalianBreakfast-Regular;
	color:black;
	font-size:90px;
	background-color:#d5dfec;
	display:inline-block;
	padding-top:0px;
	
}
.buttonPosition1{
	left:70%;
	top:35%;
}

.buttonPosition2{
	left:55%;
	top:35%;
}

