.start{
	background-image: url("helping.jpg");
	background-size: cover;
}
@font-face { 
	font-family: ItalianBreakfast-Regular; src: url('ItalianBreakfast-Regular.otf');
}
@font-face { 
	font-family: KeepCalm-Medium; src: url('KeepCalm-Medium.ttf');
}
.heading{
	font-family: ItalianBreakfast-Regular;
	position:relative;
	margin:0;
}
.confluence{
left:40%;
top:2%;
margin:0px;
padding:0px;
font-size: 300px;
position:relative;
color:black;
text-decoration: none;
}

a{
	text-decoration: none;
}

h3:hover{
	background-color:#fae3cd;
	color:white;
}

.button{
	border-radius:18px;
	position:relative;
	font-family: 'KeepCalm-Medium';
	color:#A1C5CB;
	font-size:40px;
	background-color:black;
	display:inline-block;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	
}
.buttonPosition1{
	left:55%;
	top:20%;
}

.buttonPosition2{
	left:60%;
	top:20%;
}

.welcomeMentors{
	position: relative;
	font-size:70px;
	top:0%;
	margin: 10px;
	text-align: center;

}
.descriptions{
	top:5%;
	font-size:20px;
	text-align: center;
}
.watercolor{
	background-image: url("watercolor1.jpg");
	background-size:100% 100%;
}


/*DOWN BELOW IS THE FORM 

/* Add padding to containers */
.container {
    padding: 16px;
    margin-bottom:5px;
}

/* Full-width input fields */
input[type=text] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=checkbox]{
	display:inline-block;
}
/*
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

*/

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

.pic{
	float: right;
	top: 10%;
	position:relative;
}




